.select-wrapper input.select-dropdown{
    font-size: 15px;
    font-weight: normal;
    margin: 0px;
/*     width: 120px;
 */    
}

/* .list-status{
    width: 40%;
    padding-left: 10px;
    margin: 0px !important;
    width: 75%;
} */