/*

.img-edit-modal{
    width: 15px;
}

.btn-edit-modal{
    background-color: transparent;
    border-style: none;
}

.products-table{
    border-style: solid;
    border-color: grey;
}

.info-table-selected{
    font-size: x-large;
    font-weight: bold;
    font-family: 'Raleway';
    margin: 3%;
    padding: 1% 1%; 
    background-color: #FBE677;
    border-radius: 10px;
}

.table-num{
    margin: 0;
}

.title-table-edit-order{
    font-weight: bold;
    font-family: 'Raleway';
    font-size: small;
    width: 25%;
}
*/

/* .actual-order, .add-products-order, .menu-cards-modal{
    margin: 0px;
    font-size: 15px;
    margin-right: 10px;
    border-color: gray;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
}  */

.modal-content{
    display: flex;
    padding: 0px !important;
    align-items: stretch;
    display: flex !important;
}

.mod-edit-options{
    width: 90% ;
    height: 90%;
}

.table-new-items-added{
    background-color: tomato;
    font-family: 'Raleway';
    font-size: small;
}

.table-new-items-added th{
    background-color: #FBE677;
    text-align: center;
    width: 25%;

}

.table-new-items-added td{
    background-color: violet;
    text-align: center;
}