.order-h2{
    margin: 60px 0px 20px 70px;
}

.post-it{
    background-image: url('./images/paper.svg');
    width: 250px;
    height: 200px;
    margin: 30px;
    padding: 10px;
}

.resume-box{
    display: flex !important;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0px 40px 0px 50px;
}

.text-order-resume{
}

.table-info{
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: bolder;
    padding: 0px;
}


.resume-status{
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: bolder;
    color: blue;
}

.status{
    width: 30px;
}

.chosen-item{
    padding-top: 0px;
    height: 25px;
}

.text-item{
    padding-left: 25px !important;
}

[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after{
    width: 15px;
    height: 15px;
    margin-top: 5px;
}