.order-h2{
    margin: 60px 0px 20px 70px;
}

.post-it{
    background-color: rgb(255, 240, 102);
    width: 250px;
    height: 400px;
    margin: 30px;
    padding: 10px;
}

.list-products{
    height: 310px;
}
.list-products::-webkit-scrollbar {
    width: 10px;
}

.list-products::-webkit-scrollbar-thumb{
    background-color: rgba(0,0, 0, 0.5);
    border-radius: 2px;
}

.resume-box{
    display: flex !important;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0px 40px 0px 50px;
}

.table-info{
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: bolder;
    padding: 0px;
    margin: 3px;
}


.resume-status{
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: bolder;
    color: blue;
    margin-left: 3px;
}

.status{
    width: 30px;
}

.chosen-item{
    height: 25px;
    margin: 0px;
    padding: 0px 20px;
}

.item{
    display: flex;
    justify-content: space-between;
}

.num-item{
margin: 0px;
font-size: 14px;
margin-top: 2px;
}

.text-item{
    padding-left: 25px !important;
}
