.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logoBreakFast {
  width: 30%;

}

.titleBreakfast {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -70px;
}

.titleBreakfast h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
  line-height: 100px;
  color: #000000;
  font-family: 'Amaranth', sans-serif;
}

.titleBreakfast h3 {
  font-size: 2em;
  width: 180px;
  background: #E5E5E5;
  border: 2px solid #ED3367;
  border-radius: 10px;
}

.iconHeader {
  display: flex;
  flex-direction: row;
  font-size: 2.2em;
  align-items: center;
  justify-content: space-around;    
}

.iconWaiterBreakFast {
  background: url(/CDMX009-BurgerQueen/static/media/waiter.6d902638.png) no-repeat;
  width: 205px;
  height: 195px;
}

.table {
  width: 90%;
  margin-bottom: 1rem;
  color: #212529;
  text-align: center;
  margin: 10px auto;
  margin-bottom: 30px;
  border: 1px solid tomato;
  height: 650px;
  overflow-y: scroll;

  font-size: 1.6em;
  font-family: 'Amaranth', sans-serif;


}


