.chronometer{
    display: flex;
    justify-content: space-around;
    margin: 10px 6px;
}

.btns-chrm{
    display: flex;
    justify-content: space-between;
    width: 160px;
    margin-left: 15px;
}

.btn-opt-chrm{
    background-color: rgba(255, 175, 2, 0.7);
    border-radius: 2px;
    border-style: none;
}

.btn-opt-chrm:hover{
    background-color: rgba(255, 175, 2, 0.849);
}

.btn-opt-chrm:hover{
    background-color: rgba(255, 175, 2, 0.849);
}

.btn-update-time{
    background-color: rgba(255, 175, 2, 0.7);
    border-style: none;
    border-radius: 2px;
    width: 20px;
}