.general{
    background-color: rgba(0,0,0,0.7);
    border-color: white;
    border-radius: 10%;
    padding: 3% !important;
    font-size: 15px;
    
}

.info-product{
    color: white;
    display: flex;  /* esto hace que se ponga en el centro */
    flex-direction: column;
    align-items: center;
}


p{
    margin: 0px;
    padding-top: 3%;
}

.food-image{
    margin: 0px !important;
    display: flex;
    justify-content: center;
}

.item{
    width: 80px !important;
    margin: 0px !important;
}

.food-name{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}