$list-padding: 10px;
$width-title:150px; 
$height-title: 48px; 

$width-status-list: 150; 
$size-title: 20px; 

$container-list-width: 70%;
$continer-list-edit-width: 80%; 
$azul-ligh: #10ABE0; 
$diez-pixeles: 10px; 
$veinte-pixeles: 20px; 
$transparente: transparent; 
$auto: auto; 
