$general-font: 'Heebo', sans-serif;
$margin-body: 0px;
$padding-body: 0px; 
$background-body: #170849;   
$text-align-center: center; 
$style: normal; 
$weight: normal; 
$title-size: 36px;  
//Color btns
$green : #6DCE55;

$red : #FC6471;
$gray : transparent; 
$orange : orange;

//Colors modal
$light-blue : #C6DDFA;

$height-container: 100%; 
$width-container: 90%;
$border: 1px solid red; 
$margin-container: auto; 
$margin-container-top: 100px; 

$padding-left:10px; 
