.headerWrapper{
    border: 1px solid brown;
        display: flex;
    flex-direction: row;
}

.logoRestD{
    width: 30%;
}

.iconHeader{
    display: flex;
    flex-direction: row;
    font-size: 2.2em;
    align-items: center;
}

.iconHeader h2{
    padding-right: 170px;
    padding-left: 30px;

} 

.imgWaiter{
    border: 1px solid teal;
}

.iconWaiterRestDay{
    background: url('../../assets/imgs/waiter.png') no-repeat;
    width: 205px;
    height: 195px;
    zoom: 1;
    display: inline-block;
}


.containerAll{
    border:1px solid purple;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    
}


.menuWrapper{
    border: 1px solid red;
    flex-direction: row;
    width: 50%;
    height: auto;
    
}

.firstWrapperFood{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 30%;
    margin-top: 10%;
}
.secondWrapperFood{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10%;
}

.accountWrapper{
    border: 2px solid red;
    width: 50%;
    
}

.burgersWrapper,.add,.drinks, .additional{
    background: #FFE168;
    width: 260px;
    padding: 15px;
    height: auto;
    text-align: center;
    border-radius: 14px;
    font-size: 1.5em;
    border: 1px solid hsl(0,0%,20%);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 8px 8px 8px rgba(0, 0, 0, 0.25);
}

.divPint{
    width: 100%;
    height: auto;
}

.routeButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.routeButtons a{
        align-self: center;
}

