body {
    /* background: url("../../assets/imgs/BgLogin.png") no-repeat top right; */
    /* background: url("../../assets/imgs/hat-chef.png") no-repeat top right; */
}

.containerLogin {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.burgerLogin {
    width: 800px;
    height: auto;
    left: 640px;
    top: -226px;
}

.span.BackgLogin_IconWaiter {
    background: url("../../assets/imgs/waiter.png") no-repeat top right;
}

.IconHatCheff {
    background: url("../../assets/imgs/hat-chef.png");
}

.azul {
    border: 5px solid blue;
}

.naranja {
    border: 8 px solid orange;
}

.ancore {
    border: 10px solid purple;
    display: flex;
}

.buttonWaiter {
    width: 230px;
    height: 60px;
    left: 194px;
    top: 780px;
    background: #ED3367;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 8px 8px 5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-size: 2.6em;
    font-family: 'Amaranth', sans-serif;
}

.buttonChef {
    width: 230px;
    height: 60px;
    left: 520px;
    top: 780px;
    background: #ED3367;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 8px 8px 5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-size: 2.6em;
    font-family: 'Amaranth', sans-serif;
}