.bck-imag-orders{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),  url('../../../img/dashboard-image-blur.PNG');
    background-repeat: no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover; 
    background-color: black;
}

.order-h2{
    margin: 60px 0px 20px 70px;
}

.post-it{
    background-color: rgb(255, 240, 102);
    width: 250px;
    height: 400px;
    margin: 30px;
    padding: 10px;
}

.list-products{
    height: 260px;
    padding-top: 10px;
}

.list-products::-webkit-scrollbar {
    width: 2%;
}

.list-products::-webkit-scrollbar-thumb{
    background-color: rgba(0,0, 0, 0.5);
    border-radius: 2px;
}

.resume-box{
    display: flex !important;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0 4%;
    padding: 0% 0% 4% 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.table-info{
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    padding: 0px;
    margin: 3px;
}

.chosen-item{
    margin: 0px;
    padding: 0px 20px;
    line-height: 30px;
    justify-content: space-between;

}

.item-ordered{
    display: flex;
    justify-content: space-between;
    width: 100% !important;
    height: 40px;
}

.num-item{
    margin: 0px;
    font-size: 14px;
    margin-top: 2px;
    }

.text-item{
    padding-left: 25px !important;
    line-height: 100% !important;
    display: flex;
    display: flex !important;
    align-items: center;
}

.list-status{
    color: black !important;
    margin: 10px;
}

.edit-image{
    width: 15px;
}

.mod-edit{
    background-color: transparent;
    border-style: none;
    width: 22%;
    box-shadow: none;
}

.mod-edit:hover{
    background-color: transparent;
    box-shadow: none;
}

.end-btn{
    background-color: red;
}

.end-btn:hover{
    background-color: red;
    box-shadow: none;
}

.btn-opt-order{
    display: flex;
    justify-content: space-around;
}

.btn-change-status{
    background-color: orange;   
}

.btn-change-status:hover{
    background-color: orange; 
}
  
.kitchen{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
}