.buttonOutWaiter {
    width: 170px;
    height: 50px;
    background: #ED3367;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 8px 8px 5px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-family: 'Amaranth', sans-serif;
    font-size: 28px;
    text-align: center;
    border-radius: 10px;
    margin-left: 50px;
}

.buttonOutKitchen {
    width: 170px;
    height: 50px;
    background: #ED3367;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 8px 8px 5px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-family: 'Amaranth', sans-serif;
    font-size: 28px;
    text-align: center;
    border-radius: 10px;    
}

.buttonOutWaiterBreack {
    width: 170px;
    height: 50px;
    background: #ED3367;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 8px 8px 5px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-family: 'Amaranth', sans-serif;
    font-size: 28px;
    text-align: center;
    border-radius: 10px;
    margin-left: 41%;
}

.return {
    width: 170px;
    height: 50px;
    background: #ED3367;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 8px 8px 5px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-family: 'Amaranth', sans-serif;
    font-size: 28px;
    text-align: center;
    border-radius: 10px;
    margin-left: 120px;
}

.buttonGoRgWaiter {
    align-self: flex-end;
    width: 170px;
    height: 50px;
    background: #ED3367;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 8px 8px 5px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-family: 'Amaranth', sans-serif;
    font-size: 28px;
    text-align: center;
    border-radius: 10px;
    margin-right: 50px;
}

.sendToKitchen {
    align-self: flex-end;
    width: 200px;
    height: 74px;
    background: #ED3367;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 8px 8px 5px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-family: 'Amaranth', sans-serif;
    font-size: 28px;
    text-align: center;
    border-radius: 10px;
    margin-right: 50px;
}

.returnTwo {
    width: 170px;
    height: 50px;
    background: #ED3367;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 8px 8px 5px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-family: 'Amaranth', sans-serif;
    font-size: 28px;
    text-align: center;
    border-radius: 10px;
    margin-right: 50px;
    align-self: center;
}

.pay {
    width: 170px;
    height: 50px;
    background: #ED3367;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 8px 8px 5px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-family: 'Amaranth', sans-serif;
    font-size: 28px;
    text-align: center;
    border-radius: 10px;
    align-self: center;
}

.buttonKitchenTable {
    width: 100px;
    background: #ED3367;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 8px 8px 5px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-family: 'Amaranth', sans-serif;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}

.buttonWaiterTable {
    width: 170px;
    height: 50px;
    background: #ED3367;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 8px 8px 5px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-family: 'Amaranth', sans-serif;
    font-size: 28px;
    text-align: center;
    border-radius: 10px;
    margin-right: -120px;
}

.editWaiterTable {
    width: 100px;
    background: #ED3367;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), inset 8px 8px 5px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-family: 'Amaranth', sans-serif;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}