
   //Control Total
   .total-order{
    display: flex;
   justify-content: flex-end;
   margin-right: 25px;
   
   .total{
       margin-right: 40px;
       margin-left: 50px;
    p{
        font-size: 30px;
    }
   }


}