.resume-card{
    margin-right: 15%;
    background-color: rgba(0,0,0,0.8);
    border-color: none;
    border-radius: 5px;
    height: 450px;
}

.total-price{
    position: fixed;
  bottom: 100px;
  font-family: "Nunito Sans", sans-
}
.resume-title{
    padding-top: 30px;
}