body{
    /* background-image: url('https://images.unsplash.com/photo-1440915261604-8f4cc0ac2bfd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'); */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),  url('https://images.unsplash.com/photo-1561758033-7e924f619b47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80');
    background-color: tomato;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover; 
}

.general{
    background-color: rgba(0,0,0,0.5);
    border-color: white;
    border-radius: 5%;
    border-style: solid;
    border-width: 1px;
    padding: 3% !important;
}

.info-product{
    color: white;
    display: flex;  /* esto hace que se ponga en el centro */
    flex-direction: column;
    align-items: center;
}


p{
    margin: 0px;
    padding-top: 3%;
}

#root > div > div > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(1) > div > div > div > div.card-img.info-product.image-food > img{
    width: 35%;
}


