.btnOption{
    height: 50px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.50);
    border-radius: 10px;
    color: white;
    font-size: 25px;
    border-color: white;
    border-width: 1px;
}

.btnOption:hover{
    background-color: #FBE677;
    color: black
}