@font-face {
  font-family: font-text;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: font-card;
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

/*
div, table, td, th, p{
    border: 1px solid black;
}*/
.main-container {
  background-color: #F0E8D7;
  width: 100vw;
  height: 100vh;
  /*padding: 10px;*/
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
  font-family: font-text;
  margin: 0 10px;
}

.nav-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 7px;
  padding: 10px;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  font-size: x-large;
  border-style: none;
  font-family: font-text;
  background-color: #161616;
  color: #ffa902;
}

.nav-logo {
  border-radius: 50%;
  background-color: #ffa902;
  /*opacity: 0.8;*/
  width: 100px;
}

.nav-logo img {
  width: 100px;
}

.active-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 7px;
  padding: 10px;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  font-size: x-large;
  border-style: none;
  font-family: font-text;
  background-color: #ffa902;
  color: #161616;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu-container .cards-container {
  width: 50%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-container .order-container {
  width: 50%;
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu-nav-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 7px;
  padding: 10px;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  font-size: 20px;
  border-style: none;
  font-family: font-text;
  background-color: #161616;
  color: #ffa902;
}

.active-menu-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 7px;
  padding: 10px;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  font-size: 20px;
  border-style: none;
  font-family: font-text;
  background-color: #ffa902;
  color: #161616;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 180px;
  border-radius: 15px;
  border: 2px solid #ffa902;
  background-color: #E9E6E6;
  margin: 15px;
  -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4);
}

.card-container p {
  font-family: font-card;
  font-size: 16px;
  margin: 2px;
  text-align: center;
}

.card-container img {
  margin: 0;
}

.ticket-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 15px 25px 15px 15px;
  font-family: font-text;
  font-size: 16px;
  border-radius: 15px;
  border: 2px solid #ffa902;
  padding: 5px;
  background-color: #E9E6E6;
  height: 500px;
}

.ticket-container .ticket-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ticket-container .ticket-head input {
  height: 25px;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  border-style: none;
  font-family: font-text;
  font-size: 16px;
  opacity: 0.5;
}

.ticket-container .ticket-head .client-container input {
  width: 200px;
}

.ticket-container .ticket-head .tab-container input {
  width: 50px;
}

.ticket-container .table-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: scroll;
  height: 320px;
}

.ticket-container .table-container table {
  width: 90%;
}

.ticket-container .table-container table th {
  text-align: center;
}

.ticket-container .table-container table td {
  padding: 5px 10px;
  text-align: left;
}

.ticket-container .table-container table input {
  width: 40px;
  height: 10px;
  background-color: red;
  border-style: none;
  border-radius: 15px;
  vertical-align: middle;
  margin: 0;
}

.ticket-container .total-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ticket-container .total-container p {
  width: 150px;
  margin-right: 20px;
}

.ticket-container .total-container p span {
  font-family: font-card;
}

.ticket-container .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */